aiohttp==3.7.3
appdirs==1.4.4
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
discord==1.0.1
discord.py==1.6.0
distlib==0.3.1
dnspython==1.16.0
filelock==3.0.12
Flask==1.1.2
flask-googlemaps==0.4.0
geographiclib==1.50
geopy==2.0.0
google==3.0.0
google-api-core==1.25.0
google-auth==1.24.0
google-cloud==0.34.0
google-cloud-language==2.0.0
googleapis-common-protos==1.52.0
grpcio==1.35.0
idna==2.10
importlib-metadata==1.7.0
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
lazy-object-proxy==1.4.3
libcst==0.3.16
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==5.1.0
mypy-extensions==0.4.3
numpy==1.19.1
pandas==1.1.1
pd==0.0.1
proto-plus==1.13.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.6.0
pymongo==3.11.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
PyYAML==5.4.1
requests==2.25.1
rsa==4.7
six==1.15.0
soupsieve==2.1
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
uuid==1.30
virtualenv==20.4.0
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.1.0
